version: "3.9"
services:
  ipfs:
    image: ipfs/kubo:latest
    ports: ["5001:5001", "8080:8080"]
    command: ["daemon", "--migrate=true", "--agent-version-suffix=docker"]
    volumes:
      - ipfs_data:/data/ipfs

  besu-orga:
    image: hyperledger/besu:latest
    command: ["--network=dev", "--data-path=/data", "--rpc-http-enabled=true", "--rpc-http-host=0.0.0.0", "--host-allowlist=*"]
    ports: ["8545:8545"]
    volumes:
      - besu_orga:/data

  besu-orgb:
    image: hyperledger/besu:latest
    command: ["--network=dev", "--data-path=/data", "--rpc-http-enabled=true", "--rpc-http-host=0.0.0.0", "--host-allowlist=*"]
    ports: ["18545:8545"]
    volumes:
      - besu_orgb:/data

  firefly-orga:
    image: ghcr.io/hyperledger/firefly:latest
    environment:
      FF_CORE_NAMESPACE: default
      FF_CORE_STORAGE_TYPE: "leveldb"
      FF_PLUGINS_BLOCKCHAIN: "evmconnect"
      FF_PLUGINS_TOKENS: "erc1155"
      FF_PLUGINS_SHAREDSTORAGE: "ipfs"
      FF_IPFS_APIURL: http://ipfs:5001
      FF_EVMCONNECT_URL: http://besu-orga:8545
    ports: ["5000:5000"]
    depends_on: [ipfs, besu-orga]

  firefly-orgb:
    image: ghcr.io/hyperledger/firefly:latest
    environment:
      FF_CORE_NAMESPACE: default
      FF_CORE_STORAGE_TYPE: "leveldb"
      FF_PLUGINS_BLOCKCHAIN: "evmconnect"
      FF_PLUGINS_TOKENS: "erc1155"
      FF_PLUGINS_SHAREDSTORAGE: "ipfs"
      FF_IPFS_APIURL: http://ipfs:5001
      FF_EVMCONNECT_URL: http://besu-orgb:8545
    ports: ["5002:5000"]
    depends_on: [ipfs, besu-orgb]

volumes:
  ipfs_data: {}
  besu_orga: {}
  besu_orgb: {}

